@page
@model DuciucProject.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserType)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-2">
        <a asp-page="./Edit" asp-route-id="@Model.User.Id"><i class="fs-32 bi bi-pencil-fill text-primary"></i></a>
    </div>
    <div>
        <a asp-page="./Index"><i class="fs-32 bi bi-arrow-return-left .text-secondary"></i></a>
    </div>
</div>
